<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container">
        <h1>Login</h1>
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username">
          </div>
          username: {{ username }}
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="password" name="password">
          </div>
          password: {{ password }}
          <button type="submit" class="btn btn-success">Submit</button>
     
        </form>
    </div>

</body>

</html>